name: aa
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0-93.1.beta

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true


fluttergen:
  rename:
    appName: Peyvdank
    bundleIdentifier: com.peyvdank.ios
    applicationId: com.peyvdank.android
  icon:
    androidName: my_icon
    iosName: MyIcon
    path: assets/icon_transparent.png
    bgColor: '#018290'
    borderRadius: 0.2
    padding: 0.05
  notificationIcon:
    padding: 0.1
  splash:
    androidName: my_splash
    iosName: MySplash
    path: assets/icon_with_title.png
    bgColor: '#00636E'
    bgColorDark: '#00636E'
    padding: 0.1